@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Recursive', sans-serif;
	background: #fb6b6b;
}

body h1 {
	font-family: 'Righteous', cursive;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

