container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	align-items: center;
	gap: 1vw;
	font-size: 1rem;
}

header img {
	width: 3rem;
	height: 4rem;
}

footer {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	position: fixed;
	bottom: 0;
	box-shadow: 0 -4px 5px #0000003f;
	padding: 2vh 0;
	gap: 2vh;
}

footer h2 {
	font-size: 1.5rem;
	margin: 0;
}

footer .answer-icons {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 1vh 0;
}

.answer-icons img {
	width: 1.5rem;
	height: 1.5rem;
}

main {
	margin-bottom: 30vh;
}

button.restart {
	background-color: #fb6b6b;
	border: none;
	color: white;
}

.finished-message {
	display: flex;
	align-items: center;
	gap: 1vw;
}

.finished-message img {
	height: 2rem;
	width: 2rem;
}

footer p {
	margin: 0;
}